header {
    background-color: #88E7CE;
    height: 50px;
  }
  header > p {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    padding: 40px 0 80px;
  }
  
  header > p:after {
    position: absolute;
    content: "";
    display: block;
    width: 148px;
    height: 50px;
    bottom: -16px;
    right: -10px;
    background-size: 148px 136px;
    background-repeat: no-repeat;
    background-image: url('/images/wanko.svg');
  }
  
  .header-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    height: 50px;
  }
  
  .header-nav > a {
    color: #2B546A;
    font-weight: bold;
  }
  
  .header-nav p {
    padding-left: 30px;
    font-size: 15px;
    color: #2B546A;
    font-weight: bold;
    word-wrap: break-word;
    opacity: 0.7;
    flex: 1;
  }
  
  .header-nav ul {
    text-align: right;
    display: flex;
  }
  
  .header-nav li > a {
    white-space: nowrap;
    display: inline-block;
    font-size: 15px;
    color: #2B546A;
    font-weight: bold;
    padding-left: 30px;
  }
ul{
   padding: 0;
   list-style: none;
   margin: 0;
}
.list0{
  width: 80px;
  float:left;
  margin-top: 30px;
  margin-left: 30px;
  background-color:#18837d
}
.list1{
  width: 50px;
  float:left;  
  margin-top: 30px;
  background-color:#18837d
}
.list{
    width: 120px;
    float:left;
    margin-top: 30px;
    background-color:#18837d
}
.total{
  width: 260px;
  float:left;
  margin-top: 30px;
  margin-left: 30px;
  background-color:#18837d
}
.total2{
  width: 300px;
  float:left;
  margin-top: 30px;
  margin-left: 30px;
  background-color:#18837d
}
.logout{
  display:block;
  background-color:rgb(245, 165, 141);
  float:left;
  margin-top: 30px;
  width:120px;
  height:80px;
  text-align:center;            
  border-radius: 4px;
  box-shadow: 0 10px #bb4723;
  cursor:pointer;
  justify-content: center;
  text-decoration:none;
}
.logout:active{    
  position:relative;
  top:10px;
  box-shadow:none;    
}
.fix{
  display:block;
  background-color:rgb(174, 199, 30);
  float:left;
  margin-top: 30px;
  width:120px;
  height:80px;
  text-align:center;            
  border-radius: 4px;
  box-shadow: 0 10px #4b6809;
  cursor:pointer;
  justify-content: center;
  text-decoration:none;
}
.fix:active{    
  position:relative;
  top:10px;
  box-shadow:none;    
}
.mn-vl{
    background-color:rgb(204, 243, 245);
}