{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bento</title>
    <link rel="stylesheet" href="{% static 'check.css' %}">
  </head>
  <body>
    {% include '_header.html' %}
    <table class="total2">
      <tr><td>{{ dy }}日</td></tr>   
            
    {% for list in object_list %}    
      <tr><td>{{ list.dining }}</td> 
          <td>{{ list.username }}さん</td>          
          <td>{{ list.day }}</td>          
          <td>{{ list.total }}</td>
          <td>個</td>
      </tr>
    {% endfor %}

    </table>    
     
    <a class="logout" href="{% url 'logout' %}">ログアウト</a>
</body>
</html>