{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bento</title>
    <link rel="stylesheet" href="{% static 'check.css' %}">
  </head>
  <body>
    {% include '_header.html' %}
    <table class="total">
      <tbody>
        <tr><td>{{ dy }}日</td></tr>   
            
    {% for list in object_list %}
        <tr><td>{{ list.day }}</td>          
          <td>{{ list.total }}</td>
          <td>個</td>
        </tr>
    {% endfor %}
        <a href="{% url 'detai' %}">内訳</a>
      </tbody>

    </table>     
    <a class="logout" href="{% url 'logout' %}">ログアウト</a>
</body>
</html>